
body {
    font-family: "Poppins";
    font-size: normal;
}

.upload-form {
    width: 1000px;
    margin: 5px auto;
    text-align: center; 
    color: white;
    font-size: 15px;
    bottom: 0;
}

.upload-box {
    width: 50%; 
    margin: 20px auto;  
    padding: 30px;
    border-radius: 10px;  
     background-color: #11141C;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
    margin-top: 50px;
    position: relative;
    text-align: left;
}

.title-text-box {
    padding: 5px;
    width: 400px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.title-description {
    width: 200px;
    margin: 5px auto;
    text-align: center; 
    color: white;
    font-size: 13px;
}

.footer {
    width: 500px;
    margin: 30px auto;
    text-align: center; 
    color: white;
    font-size: 14px;
    bottom: 0;
}